.scroll-float {
  overflow: hidden;
  perspective: 1000px;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(2.6rem, 6vw, 8rem);
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
  color: white;
}

.char {
  display: inline-block;
  transform-style: preserve-3d;
}
.text-skills-small {
  font-size: clamp(1.6rem, 3vw, 5rem);
}
.text-achievement {
  font-size: clamp(1.2rem, 2.8vw, 4rem);
}
