@import "tailwindcss";

.base {
  position: relative;
  z-index: 10;
}
@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(18px);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 1.5s infinite;
}
